In [1]:
# 이중 for문을 사용하여 1~15까지의 숫자를 5단위, 이차원 배열로 작성하여라. - 리스트 (선언을 통한) 이용

a = [[1 , 2 , 3 , 4 , 5] , [6 , 7 , 8 , 9 , 10] , [11 , 12 , 13 , 14 , 15]]

for i in a:
    for j in i:
        print(j, end=' ')
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15

In [2]:
# 이중 for문을 사용하여 1~15까지의 숫자를 5단위, 이차원 배열로 작성하여라. -> range() 함수 & i & j 이용

for i in range(1,16,5):
    for j in range(5):
        print(i+j, end=' ')
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15

In [3]:
# a 와 b 값을 입력받고 a가 b보다 크거나 같으면 a-b의 값을 출력하고, 그렇지 않다면 b-a 값을 출력하라.

ai = int(input("a 값을 입력하시오 : "))
bi = int(input("b 값을 입력하시오 : "))

if bi <= ai :
    print(ai - bi)
else :
    print(bi - ai)

a 값을 입력하시오 : 8
b 값을 입력하시오 : 9
1

In [10]:
# Quiz 1

num = [1 , 2 , 3 , 4 , 5]

for item in num[0:3]:
    print(item)

1
2
3

In [5]:
# Quiz 1 - 2

num = [1 , 2 , 3 , 4 , 5]

for num in "123":
    print(num)

1
2
3

In [23]:
# Quiz 2

i = 1

while i < 8:
    print(i)
    i += 1

1
2
3
4
5
6
7

In [16]:
# Quiz 3

inputtest = ''
while inputtest != '20221313':
    inputtest = input('아이디를 입력하라 :')
    if inputtest == '20221313':
        print('인증성공')

아이디를 입력하라 :202213
아이디를 입력하라 :20221313
인증성공

In [4]:
# Quiz 3 - 2

while True:
    
    id = str(input("아이디를 입력하라: "))
        
    if id == "20221313":
        print("인증성공")
        break
    
    else:
        print("아이디를 다시 입력하라")

아이디를 입력하라: 20221331
아이디를 다시 입력하라
아이디를 입력하라: 20221313
인증성공

In [24]:
# Quiz 4

val = 1

while val < 9:
    val += 1
    
    for i in range(1,10):
        print(val , "x" , i , "=" , val * i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [4]:
for i in range(2,10):
    print(i, "*", 1, "=", 1 * i)
    print(i, "*", 2, "=", 2 * i)
    print(i, "*", 3, "=", 3 * i)
    print(i, "*", 4, "=", 4 * i)
    print(i, "*", 5, "=", 5 * i)
    print(i, "*", 6, "=", 6 * i)
    print(i, "*", 7, "=", 7 * i)
    print(i, "*", 8, "=", 8 * i)
    print(i, "*", 9, "=", 9 * i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [5]:
def val(x,y):
    for i in range(x,y):
        print(i, "*", 1, "=", 1 * i)
        print(i, "*", 2, "=", 2 * i)
        print(i, "*", 3, "=", 3 * i)
        print(i, "*", 4, "=", 4 * i)
        print(i, "*", 5, "=", 5 * i)
        print(i, "*", 6, "=", 6 * i)
        print(i, "*", 7, "=", 7 * i)
        print(i, "*", 8, "=", 8 * i)
        print(i, "*", 9, "=", 9 * i)
val(2,10)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [15]:
for i in range(2,10):
    for j in range(1,10):
        print("{} * {} = {}".format(i, j, i*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81